source [find interface/espusbjtag.cfg]
source [find target/esp32s3.cfg]
adapter speed 4000
# Explicitly specify flash files to avoid path parsing
set ESPTOOL_WRITE_FLASH_ARGS "-z --flash_mode dio --flash_freq 80m --flash_size 2MB"
set ESPTOOL_WRITE_FLASH_FILES "0x0 bootloader/bootloader.bin 0x8000 partition_table/partition-table.bin 0x10000 TBV7.bin"